<nav class = "navbar">
  <h3 class ="header_log">Private Events</h3>
  <% if current_user %>
    <p class ="name"> Welcome <%= current_user.name %></p>
  <% end %>
  <p>
    <%= link_to "Home", new_user_path %>
  </p>
  <% if current_user %>
  <p>
    <%= link_to current_user.name + ' ' + 'Events', user_path(current_user) %>
  </p>  
  <% end %>    
  <p> 
  </p>
  <% if current_user %>
    <p>
      <%= link_to 'Log Out', session_path(session) , method: 'delete', class:'btn btn-danger' %>
    </p>
  <% else %>
    <p class="control">
      <%= link_to 'Sign In', new_session_path, class:'btn btn-danger' %>
    </p>
    <p class="control">
      <%= link_to 'Sign Up', new_user_path, class:'btn btn-success' %>
    </p>
  <% end %>
</nav>

