<nav class = "navbar">
  <h3 class ="header_log"> <%= link_to "Private Events", new_user_path %></h3>
  <% if current_user %>
    <p class ="name"> Welcome <%= current_user.name %></p>
  <% end %>
  <div class="d-flex ">
  <p>
    
  </p>
  <% if current_user %>
  <p>
    <%= link_to current_user.name + ' ' + 'Events', user_path(current_user) %>
  </p>  
  <% end %>    
  <p> 
  </p>
  <% if current_user %>
    <p>
      <%= link_to 'Log Out', session_path(session) , method: 'delete', class:'' %>
    </p>
  <% else %>

    <p class="control">
      <%= link_to 'Sign In', new_session_path, class:'', style: "color:black" %>
    </p>
    <p class="control">
      <%= link_to 'Sign Up', new_user_path, class:'', style: "color:black" %>
    </p>
  </div>
  <% end %>
</nav>

